/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		sans-serif;
	background-color: #f5f5f5;
	color: #333;
	line-height: 1.4;
	min-height: 100vh;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin-bottom: 0.5rem;
}

p {
	margin-bottom: 0.25rem;
}

ul,
li {
	list-style: none;
}

/* Links */
a {
	color: #007bff;
	text-decoration: none;
	transition: color 0.3s ease;
}
a:hover {
	color: #0056b3;
}

a#logo {
	font-size: 3rem;
	border-radius: 0.25rem;
	color: #333;
	padding: 0.5rem;
	transition: background-color 0.3s ease;
}
a#logo:hover {
	background-color: #ddd;
	color: #444;
}

/* Buttons */
button {
	cursor: pointer;
	font-family: inherit;
	background-color: transparent;
	border: 1px solid #333;
	border-radius: 0.25rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.75rem;
	transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
button:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button.primary {
	background-color: #449863;
	color: #fff;
	border: none;
}
button.primary:hover {
	background-color: #31aa5e;
}

button.secondary {
	background-color: #cacbcd;
	color: #5c616c;
	border: none;
}
button.secondary:hover {
	background-color: #d1d5db;
	color: #374151;
}

button.utility {
	background-color: #5696d9;
	color: #333;
	border: none;
}
button.utility:hover {
	background-color: rgb(113, 165, 241);
	color: #444;
}

button.danger {
	background-color: #dc2626;
	color: #fff;
	border: none;
}
button.danger:hover {
	background-color: #ef4444;
}

/* Forms */
input,
textarea,
select {
	font-family: inherit;
	font-size: 1rem;
	padding: 0.5rem;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: #007bff;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

/** Remove number input spinners **/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}

select {
	/** Remove select dropdown arrow **/
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: none;
}

label {
	margin-bottom: 0.25rem;
	font-weight: 500;
	padding: 0.25rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

form .group {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25rem 0;
}

form .actions {
	display: flex;
	justify-content: center;
	gap: 2rem;
	width: 100%;
	padding: 2rem 0;
}

/* Utility Classes */
.text-center {
	text-align: center;
}

/* Application */
#app {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: inherit;
}
#app > * {
	width: inherit;
}
#app > main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#app > footer {
	color: #f5f5f5;
	background-color: #333;
	font-size: 0.875rem;
	text-align: center;
}

/* Containers */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem 0.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav .container {
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}
main .container {
	padding: 4rem 0.5rem;
}

/* Expenses */
.expense-id {
	font-weight: 400;
	background-color: #888;
	color: #eee;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
}

.expense-item {
	cursor: pointer;
	width: 100%;
	max-width: 600px;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}
.expense-item:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.expense-category {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	padding: 0.25rem 0.5rem;
	width: fit-content;
	background-color: #efeaaf;
	border-radius: 0.25rem;
}

.expense-date {
	font-size: 0.875rem;
	color: #666;
	margin-bottom: 0.5rem;
	padding: 0.25rem;
	border-radius: 0.25rem;
}

.expense-cost {
	font-size: 1rem;
	font-weight: 500;
	color: #374151;
	margin: 0.5rem 0;
	padding: 0.25rem;
}

.expense-description {
	font-size: 0.875rem;
	background-color: #eee;
	color: #333;
	border-radius: 0.25rem;
	margin-top: 0.5rem;
	padding: 0.5rem;
}

.expense-empty-message {
	font-size: 1.25rem;
	font-weight: 500;
	text-align: center;
	margin-top: 2rem;
}
